.gridContainer {
  padding-bottom: 23px;
}

.boxContainer {
  white-space: nowrap;
  width: -webkit-fill-available;
}

.stack {
  margin-top: 69px;
  width: min-content;
}
.innerGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftGrid {
  height: 650px;
  background-color: #ECECEC;
  max-width: 547px;
  margin-top: 27px;
}
.rightGrid {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.imageBox {
  transition: transform 1s;
  margin: 0 auto;
  max-height: 650px;
  max-width: 1101px;
}
.imageBoxExpanded {
  transition: transform 1s;
  transform: scale(1.52, 1) translate(-16.6%, 0%);
}
.imageBoxWide {
  max-height: 154px;
  max-width: 547px;
}
.div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;

  color: #000000;

  margin-left: 21px;
}
.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: start;

  color: #000000;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.informationTextDiv {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;

  color: #000000;

  background-color: #D9D9D9;
  text-align: start;
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  height: 227px;
  width: 507px;
  overflow-y: auto;
  padding: 12px;
  align-self: center;
}
.buttonLeftDiv {
  display: flex;
  align-self: end;
  margin-top: 10px;
  margin-right: 9px;
  & button {
    margin-left: 10px;
    width: 107px;
    height: 33px;
  }
}
.buttonRightDiv {
  display: flex;
  align-self: end;
  margin-bottom: 5px;

  & button {
    margin-left: 10px;
    width: 113px;
    height: 22px;
  }
}
.expandButton {
  background: #8F9063;
  height: 50px;
  margin: 0px;
  padding: 0px;
  position: relative;
  bottom: 16%;
  left: 92%;
}
.imageTextDiv {
  transition: transform 1s;

  background: rgba(0, 0, 0, 0.4);
  width: 260px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: 81%;
  left: 2%;
}

.imageTextDivExpanded {
  @extend .imageTextDiv;
  transition: transform 1s;
  transform: translate(-216.6%, 0%);
}
.imageText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    white-space: pre-line;
    text-align: start;
  
    color: #FFFFFF;
}
