.gridContainer {
  padding-bottom: 23px;
}
.boxContainer {
  overflow: auto;
  white-space: nowrap;
  width: -webkit-fill-available;
}

.stack {
  margin-top: 69px;
  width: min-content;
  padding-bottom: 15px;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
