.title {
  margin-bottom: 0px;
}
.paragraph {
  background-color: #ECECEC;
}
.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
